.axes_helper  {
    width: 200px;
    /*width: 500px;*/
    height: 200px;
    /*height: 500px;*/
    background-color: #fff; /* or transparent; will show through only if renderer alpha: true */
    border: 1px solid black; /* or none; */
    margin: 20px;
    padding: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 100;
}
