.camera_image  {
    width: 320px;
    height: 240px;
    background-color: #fff; /* or transparent; will show through only if renderer alpha: true */
    border: 1px solid black; /* or none; */
    margin: 20px;
    padding: 0px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 100;
}
